.blog {
  background-color: $blogBackgroundColor;
  .blog-wrapper {
    @include wrappersSize;
    .blog__text-wrapper {
      padding: 0 25%;
      text-align: center;
      .blog__text-name {
        @include mainFontHuge($altFontColor);
        margin-bottom: 10%;
      }
      p {
        @include mainFontSmall($altFontColor);
        margin-bottom: 10%;
      }
    }
    .blog__gallery-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      text-shadow: 1px 0.5px 2px #000000;
      .blog__gallery-img {
        margin: 0;
        position: relative;
        cursor: pointer;
        &:hover {
          &:after {
            display: block;
            position: relative;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.8) 100%);
            margin-top: -153px;
            height: 151px;
            width: 100%;
            content: '';
          }
        }
      }
      img {
        box-shadow: $BoxShadow;
      }
      .blog__date {
        text-align: center; 
        width: 62px;
        height: 62px;
        border-radius: 5px;
        background-color: #262626;
        opacity: 0.5;
        position: absolute;
        bottom: 70%;
        left: 7%;
        color: $altFontColor;
        h2 {
          @include font($altFontColor, $mainFont, 21px, 900, 25px);
          text-transform: uppercase;
          margin-top: 10%;
        }
      }
      h3 {
        @include font($altFontColor, $mainFont, 20px, 700, 25px);
        padding: 5%;
        position: absolute;
        bottom: 15%;
        left: 0;
      }
      p {
        @include font($altFontColor, $mainFont, 13px, 300, 25px);
        padding: 5%;
        position: absolute;
        bottom: 2%;
        left: 0;
      }
    }
    .blog__button-wrapper {
      margin-top: 3%;
      text-align: center;
      .blog__button {
        @include mainButton($blogButtonColor, $blogButtonOnHoverColor);
      }
    }
  }
}