.contact {
  @include background(url("/files/contactBackground-min.png"), null, no-repeat, cover, center);
  .contact-wrapper {
    @include wrappersSize;
    .contact__text-wrapper {
      padding: 0 35%;
      text-align: center;
      h1 {
        @include font($mainFontColor, $mainFont, 90px, 700, 27px);
        margin-bottom: 10%;
      }
      p {
        @include font($mainFontColor, $mainFont, 17px, 300, 27px);
        margin-bottom: 10%;
      }
    }
    .contact__form-wrapper {
      display: flex;
      justify-content: space-between;
      .contact__form {
        margin: 0;
        width: 42%;
        .contact__form-list {
          list-style-type: none;
          li {
           margin-bottom: 3%;
          }
          input {
            @include placeholder($altFontColor,
            15px);
            box-shadow: $BoxShadow;
            background-color: $contactInputBackground;
            width: 100%;
            height: 52px;
            border: 0;
            opacity: 0.5;
            padding-left: 16px;
            color: $altFontColor;
            &:focus {
              opacity: 1;
              outline: none;
              border-left: 7px solid $contactInputBorderLeft;
              font-weight: 700;
            }
          }
          textarea {
            @include placeholder($altFontColor, 15px);
            background-color: $contactInputBackground;
            box-shadow: $BoxShadow;
            width: 100%;
            height: 252px;
            opacity: 0.5;
            resize: none;
            padding: 16px 0 0 16px;
            color: $altFontColor;
            &:focus {
              opacity: 1;
              outline: none;
              border-left: 7px solid $contactInputBorderLeft;
              font-weight: 700;
            }
            &::selection {
              padding-left: 15px;
            }
          }
        }
        .contact__form-button {
          @include mainButton(#00c4c4, #0d9b9b); 
          opacity: 0.5;
        }
      }
      .contact__adress {
        @include font($mainFontColor, $mainFont, 20px, 300, 25px);
        padding: 1%;
        h3 {
          @include font($mainFontColor, $mainFont, 17px, 700, 25px);
        }
        p {
          padding-bottom: 4%;
        }
      }
    }
  }
}