.gallery {
  background-color: $galleryBackgroundColor;
  .gallery__wrapper {
    @include wrappersSize;
    .gallery__text-wrapper {
      padding: 0 25%;
      text-align: center;
      h1 {
        @include mainFontHuge($mainFontColor);
        margin-bottom: 10%;
      }
      p {
        @include mainFontSmall($mainFontColor);
        margin-bottom: 10%;
      }
    }
    .gallery__images-wrapper {
      .gallery__images-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .gallery__images-small {
          margin: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }
      .gallery__images-bottom {
        margin: 2% 0 0 0  ;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .gallery__image {
        margin: 0;
        position: relative;
        display: inline-block;
        overflow: hidden;
        img {
          box-shadow: $BoxShadow
        }
        a {
          display: block;
          position: absolute;
          top: -100%;
          opacity: 0;
          left: 0;
          bottom: 0;
          right: 0;
          text-align: center;
          color: inherit;
          .fa-search-plus {
            color: $mainFontColor;
          }
        }
        &:hover img {
          opacity: 0.8;
          cursor: pointer;
        }
        &:hover a {
          opacity: 1;
          top: 0;
          z-index: 500;
          span {
            top: 50%;
            position: absolute;
            left: 0;
            right: 0;
            transform: translateY(-50%);
          }
        }
      }
    }
    .gallery__button-wrapper {
      margin-top: 5%;
      text-align: center;
      .gallery__button {
        @include mainButton($galleryButtonColor, $galerryButtonOnHoverColor);
    }
  }
}
}