.header {
  @include background(url("/files/heroBackground-min.png"), null, no-repeat, cover contain, center);
  padding: 50px 0 0 0;
  position: relative;
  max-width: 1200px;
  .header__wrapper {
    max-width: 1200px;
    display: flex;
    position: fixed;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
    width: 100%;
    z-index: 1000;
    text-shadow: 0.5px 0.5px 5px #F9F8FB;
    &.hidden {
      transform: translateY(-100%);
      visibility: hidden;
    }
  }
  .header__logo {
    margin: 1% 0;
    @include font($mainFontColor, $logoFont, 50px, 400, 25px);
  }
}

.nav {
  margin-left: 38%;
  .nav__main-nav--hidden {
    display: none;
  }
  .nav__menu-elem {
    list-style-type: none;
    float: left;
    margin-left: 35px;
    margin-top: 10px;
    .nav__menu-link {
      @include font($mainFontColor, $mainFont, 16px, 700, 25px);
      text-decoration: none;
      text-transform: uppercase;
      height: 12px;
      &.nav__menu-link--active {
        border-top: 5px solid $activeMenuColor;
        
      }
      &:hover {
        border-top: 5px solid $activeMenuColor;
      }
    }
  }
}