.header {
  @include background(url("../../files/heroBackground-min.png"),
  null,
  no-repeat,
  cover contain,
  center);
  padding: 50px 0 0 0;
  position: relative;
  max-width: 1200px;
  .header__wrapper {
    @include respond-to('medium') {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    max-width: 1200px;
    display: flex;
    position: fixed;
    transition: transform 1s cubic-bezier(0.86,
    0,
    0.07,
    1);
    width: 100%;
    z-index: 1000;
    text-shadow: 0.5px 0.5px 5px #F9F8FB;
    &.hidden {
      transform: translateY(-100%);
      visibility: hidden;
    }
  }
  .header__logo {
    margin: 1% 0;
    @include font($mainFontColor,
    $logoFont,
    50px,
    400,
    25px);
    @include respond-to('large') {
      margin: 1% 0 5% 0;
    }
  }
}

.nav {
  margin-left: 35%;
  @include respond-to('large') {
    margin-left: 8%;
  }
  @include respond-to('medium') {
    background: rgba(255, 255, 255, 0.6);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0;
    transition: height 1s ease-out;
  }
  .nav__main-nav--hidden {
    display: none;
  }
  .nav__burger {
    display: none;
    transition: display 1s ease-out;
    @include background(url("../../files/hamburgerMenu.png"),
    null,
    no-repeat,
    35px 35px,
    center);
    @include respond-to('medium') {
      transition: display 2s ease-in;
      display: block;
      width: 100%;
      height: 40px;
      cursor: pointer;
    }
  }
  .nav__burger--opened {
    @include respond-to('medium') {
      @include background(url("../../files/openHamburgerMenu.png"),
      null,
      no-repeat,
      35px 35px,
      center);
      display: block;
      width: 100%;
      height: 40px;
      cursor: pointer;
    }
  }
  .nav__menu-elem {
    list-style-type: none;
    float: left;
    margin-left: 35px;
    margin-top: 10px;
    @include respond-to('medium') {
      display: none;
      overflow: hidden;
      float: none;
      width: 100%;
      text-align: center;
      margin: 4% 0;
    }
  }
  .nav__menu-elem--open {
    @include respond-to('medium') {
      display: block;
    }
  }
  .nav__menu-link {
    @include font($mainFontColor,
    $mainFont,
    16px,
    700,
    25px);
    text-decoration: none;
    text-transform: uppercase;
    height: 12px;
    @include respond-to('medium') {
      color: $mainFontColor;
      text-shadow: none;
    }
    &.nav__menu-link--active {
      border-top: 5px solid $activeMenuColor;
    }
    &:hover {
      border-top: 5px solid $activeMenuColor;
    }
  }
}

.nav--open {
  @include respond-to('medium') {
    height: auto;
    transition: hight 2s ease-in;
  }
}