.hero {
  padding: 5% 0;
  .hero__wrapper {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around;
      .hero__slogan-wrapper {
      width: 100%;
      @include respond-to('large') {
        padding: 0 5%;
      }
      @include respond-to('medium') {
        padding: 2% 5%;
        text-align: center;
      }
      
      .hero__slogan {
        padding-top: 20%;
        @include font($mainFontColor, $mainFont, 60px, 900, 25px);
        @include respond-to('medium') {
          padding-top: 30%;
        }
      }
      .hero__text {
        @include font($mainFontColor, $mainFont, 17px, 300, 27px);
        padding-top: 5%;
        text-align: justify;
        text-shadow: 0.5px 0.5px 5px #F9F8FB;
        @include respond-to('medium') {
          padding-top: 12%;
          text-align: center;
        }
      }
      .hero__button {
        margin-top: 30px;
        @include mainButton($heroButtonColor, $heroButtonOnHoverColor);
        @include respond-to('medium') {
          text-align: center;
        }
      }
    }
    .hero__scroll-button {
      width: 60%;
      align-self: center;
      text-align: center;
      padding: 15% 0 .1% 0;
      @include respond-to('medium') {
        display: none;
      }
    }
  }
}