.subscribe {
  @include background(url("../../files/subscripeImage-min.png"), #ffffff, no-repeat, cover contain, center);
  .subscribe__wrapper {
    max-width: 1200px;
    padding: 8% 0;
    .subscribe__text-wrapper {
      h1 {
        @include font($mainFontColor, $mainFont, 60px, 900, 25px);
        margin-bottom: 2%;
      }
      p {
        @include font($mainFontColor, $mainFont, 17px, 300, 27px);
        margin-bottom: 2%;
      }
    }
    .subscribe__form-wrapper {
      .subscribe__form-input {
        @include font($mainFontColor, $mainFont, 17px, 300, 27px);
        width: 560px;
        height: 55px;
        opacity: 0.5;
      }
      .subscribe__form-button {
        @include mainButton($subscribeButtonColor, $subscribeButtonOnHoverColor);
    }
  }
}
}