@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");
* {
  margin: 0 auto;
  padding: 0; }

body {
  background-color: #F9F8FB; }

.header {
  background-image: url("../../files/heroBackground-min.png");
  background-repeat: no-repeat;
  background-size: cover contain;
  background-position: center;
  padding: 50px 0 0 0;
  position: relative;
  max-width: 1200px; }
  .header .header__wrapper {
    max-width: 1200px;
    display: flex;
    position: fixed;
    transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
    width: 100%;
    z-index: 1000;
    text-shadow: 0.5px 0.5px 5px #F9F8FB; }
    @media (max-width: 1200px) {
      .header .header__wrapper {
        margin-left: 5%; } }
    @media (max-width: 800px) {
      .header .header__wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center; } }
    .header .header__wrapper.hidden {
      transform: translateY(-100%);
      visibility: hidden; }
  .header .header__logo {
    margin: 1% 0;
    color: #262626;
    font-family: Pacifico, Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 25px; }
    @media (max-width: 1200px) {
      .header .header__logo {
        margin: 1% 0 5% 0; } }

.nav {
  margin-left: 35%; }
  @media (max-width: 1200px) {
    .nav {
      margin-left: 8%; } }
  @media (max-width: 800px) {
    .nav {
      background: rgba(255, 255, 255, 0.6);
      margin: 0;
      padding: 0;
      width: 100%;
      height: 0; } }
  .nav .nav__main-nav--hidden {
    display: none; }
  .nav .nav__burger {
    display: none;
    background-image: url("../../files/hamburgerMenu.png");
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: center; }
    @media (max-width: 800px) {
      .nav .nav__burger {
        display: block;
        width: 100%;
        height: 40px;
        cursor: pointer; } }
  @media (max-width: 800px) {
    .nav .nav__burger--opened {
      background-image: url("../../files/openHamburgerMenu.png");
      background-repeat: no-repeat;
      background-size: 35px 35px;
      background-position: center;
      display: block;
      width: 100%;
      height: 40px;
      cursor: pointer; } }
  .nav .nav__menu-elem {
    list-style-type: none;
    float: left;
    margin-left: 35px;
    margin-top: 10px; }
    @media (max-width: 800px) {
      .nav .nav__menu-elem {
        display: none;
        overflow: hidden;
        float: none;
        width: 100%;
        text-align: center;
        margin: 4% 0; } }
  @media (max-width: 800px) {
    .nav .nav__menu-elem--open {
      display: block; } }
  .nav .nav__menu-link {
    color: #262626;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;
    text-transform: uppercase;
    height: 12px; }
    @media (max-width: 800px) {
      .nav .nav__menu-link {
        color: #262626;
        text-shadow: none; } }
    .nav .nav__menu-link.nav__menu-link--active {
      border-top: 5px solid #ff6033; }
    .nav .nav__menu-link:hover {
      border-top: 5px solid #ff6033; }

@media (max-width: 800px) {
  .nav--open {
    height: auto; } }

.hero {
  padding: 5% 0; }
  .hero .hero__wrapper {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around; }
    .hero .hero__wrapper .hero__slogan-wrapper {
      width: 100%; }
      @media (max-width: 1200px) {
        .hero .hero__wrapper .hero__slogan-wrapper {
          padding: 0 5%; } }
      @media (max-width: 800px) {
        .hero .hero__wrapper .hero__slogan-wrapper {
          padding: 2% 5%; } }
      .hero .hero__wrapper .hero__slogan-wrapper .hero__slogan {
        padding-top: 20%;
        color: #262626;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 60px;
        font-weight: 900;
        line-height: 25px; }
      .hero .hero__wrapper .hero__slogan-wrapper .hero__text {
        color: #262626;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 17px;
        font-weight: 300;
        line-height: 27px;
        padding-top: 4%;
        text-align: justify;
        text-shadow: 0.5px 0.5px 5px #F9F8FB; }
      .hero .hero__wrapper .hero__slogan-wrapper .hero__button {
        margin-top: 30px;
        border: 0;
        width: 202px;
        height: 57px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        background-color: #ff6033;
        color: #fff;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 27px; }
        .hero .hero__wrapper .hero__slogan-wrapper .hero__button:hover {
          background-color: #ad5036;
          cursor: pointer; }
    .hero .hero__wrapper .hero__scroll-button {
      width: 60%;
      align-self: center;
      text-align: center;
      padding: 15% 0 .1% 0; }

.about {
  background-color: #00c4c4; }
  .about .about__wrapper {
    padding: 3% 0%;
    max-width: 1200px;
    display: flex; }
    @media (max-width: 1200px) {
      .about .about__wrapper {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center; } }
    .about .about__wrapper .about__image img {
      width: 600px;
      height: 600px; }
    @media (max-width: 800px) {
      .about .about__wrapper .about__image {
        display: none; } }
    @media (max-width: 480px) {
      .about .about__wrapper .about__image {
        display: none; } }
    .about .about__wrapper .about__text-wrapper {
      padding: 15% 5%; }
      @media (max-width: 1200px) {
        .about .about__wrapper .about__text-wrapper {
          padding: 8%;
          max-width: 70%; } }
      .about .about__wrapper .about__text-wrapper .about__title {
        color: #fff;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 90px;
        font-weight: 700;
        line-height: 27px;
        margin-bottom: 10%; }
        @media (max-width: 1200px) {
          .about .about__wrapper .about__text-wrapper .about__title {
            line-height: 80px;
            text-align: center; } }
        @media (max-width: 800px) {
          .about .about__wrapper .about__text-wrapper .about__title {
            font-size: 60px;
            line-height: 120px; } }
      .about .about__wrapper .about__text-wrapper .about__text {
        color: #fff;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 17px;
        font-weight: 300;
        line-height: 27px; }
        .about .about__wrapper .about__text-wrapper .about__text span {
          display: block; }

.services {
  background-color: #70bfff; }
  .services .services__wrapper {
    padding: 3% 0%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    @media (max-width: 1200px) {
      .services .services__wrapper {
        flex-direction: column-reverse;
        padding: 8% 0; } }
  .services .services__btn-wrapper {
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: 28em;
    margin-top: 6%; }
    .services .services__btn-wrapper .services__btn-text {
      width: 26.375em;
      height: 6.375em;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      display: flex;
      align-content: space-around;
      justify-content: center;
      align-items: center; }
      @media (max-width: 1200px) {
        .services .services__btn-wrapper .services__btn-text {
          margin: 2%; } }
      .services .services__btn-wrapper .services__btn-text h2 {
        text-align: center;
        width: 70%;
        color: #262626;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 27px; }
      .services .services__btn-wrapper .services__btn-text:hover {
        background-color: #d8d0d0;
        cursor: pointer; }
    .services .services__btn-wrapper .services__btn-image {
      text-align: center;
      float: right;
      border-left: solid 2px #9d9d9d;
      width: 30%;
      height: 100%; }
      .services .services__btn-wrapper .services__btn-image img {
        padding: 20% 0; }
  .services .services__slogan-wrapper {
    padding-left: 5%; }
    .services .services__slogan-wrapper .services__slogan-image {
      padding-left: 15%; }
      @media (max-width: 1200px) {
        .services .services__slogan-wrapper .services__slogan-image {
          margin-top: 5%; } }
      @media (max-width: 800px) {
        .services .services__slogan-wrapper .services__slogan-image {
          display: none; } }
    .services .services__slogan-wrapper .services__slogan-text {
      position: relative;
      bottom: 50%;
      left: 0; }
      @media (max-width: 1200px) {
        .services .services__slogan-wrapper .services__slogan-text {
          bottom: 290px; } }
      @media (max-width: 800px) {
        .services .services__slogan-wrapper .services__slogan-text {
          position: static;
          padding-top: 5%;
          text-align: center; } }
      .services .services__slogan-wrapper .services__slogan-text .services__name-text {
        color: #262626;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 90px;
        font-weight: 700;
        line-height: 27px; }
        @media (max-width: 800px) {
          .services .services__slogan-wrapper .services__slogan-text .services__name-text {
            color: #262626;
            font-family: Raleway, Helvetica, Arial, sans-serif;
            font-size: 75px;
            font-weight: 700;
            line-height: 27px; } }
        @media (max-width: 800px) {
          .services .services__slogan-wrapper .services__slogan-text .services__name-text {
            color: #262626;
            font-family: Raleway, Helvetica, Arial, sans-serif;
            font-size: 55px;
            font-weight: 700;
            line-height: 27px; } }

.gallery {
  background-color: #ffe92f; }
  .gallery .gallery__wrapper {
    padding: 3% 0%;
    max-width: 1200px; }
    @media (max-width: 1200px) {
      .gallery .gallery__wrapper {
        padding: 8% 0; } }
    .gallery .gallery__wrapper .gallery__text-wrapper {
      padding: 0 25%;
      text-align: center; }
      .gallery .gallery__wrapper .gallery__text-wrapper h2 {
        color: #262626;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 90px;
        font-weight: 700;
        line-height: 27px;
        margin-bottom: 10%; }
      .gallery .gallery__wrapper .gallery__text-wrapper p {
        color: #262626;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 17px;
        font-weight: 300;
        line-height: 27px;
        margin-bottom: 10%; }
    .gallery .gallery__wrapper .gallery__images-wrapper .gallery__images-top {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      @media (max-width: 1200px) {
        .gallery .gallery__wrapper .gallery__images-wrapper .gallery__images-top {
          justify-content: center; } }
      @media (max-width: 800px) {
        .gallery .gallery__wrapper .gallery__images-wrapper .gallery__images-top img {
          width: 370px; } }
      .gallery .gallery__wrapper .gallery__images-wrapper .gallery__images-top .gallery__images-small {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        @media (max-width: 1200px) {
          .gallery .gallery__wrapper .gallery__images-wrapper .gallery__images-top .gallery__images-small {
            flex-direction: row;
            margin-top: 2%;
            width: 770px; } }
        @media (max-width: 800px) {
          .gallery .gallery__wrapper .gallery__images-wrapper .gallery__images-top .gallery__images-small {
            flex-direction: column;
            align-items: center; }
            .gallery .gallery__wrapper .gallery__images-wrapper .gallery__images-top .gallery__images-small img {
              margin-bottom: 3%; } }
    .gallery .gallery__wrapper .gallery__images-wrapper .gallery__images-bottom {
      margin-top: 2%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      @media (max-width: 1200px) {
        .gallery .gallery__wrapper .gallery__images-wrapper .gallery__images-bottom {
          width: 770px; }
          .gallery .gallery__wrapper .gallery__images-wrapper .gallery__images-bottom img {
            width: 370px; } }
      @media (max-width: 800px) {
        .gallery .gallery__wrapper .gallery__images-wrapper .gallery__images-bottom {
          width: 370px;
          flex-direction: column;
          align-items: center; }
          .gallery .gallery__wrapper .gallery__images-wrapper .gallery__images-bottom img {
            margin-top: 0;
            margin-bottom: 3%; } }
    .gallery .gallery__wrapper .gallery__images-wrapper .gallery__image {
      margin: 0;
      position: relative;
      display: inline-block;
      overflow: hidden; }
      .gallery .gallery__wrapper .gallery__images-wrapper .gallery__image img {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }
      .gallery .gallery__wrapper .gallery__images-wrapper .gallery__image a {
        display: block;
        position: absolute;
        top: -100%;
        opacity: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        color: inherit; }
        .gallery .gallery__wrapper .gallery__images-wrapper .gallery__image a .fa-search-plus {
          color: #262626; }
      .gallery .gallery__wrapper .gallery__images-wrapper .gallery__image:hover img {
        opacity: 0.8;
        cursor: pointer; }
      .gallery .gallery__wrapper .gallery__images-wrapper .gallery__image:hover a {
        opacity: 1;
        top: 0;
        z-index: 500; }
        .gallery .gallery__wrapper .gallery__images-wrapper .gallery__image:hover a span {
          top: 50%;
          position: absolute;
          left: 0;
          right: 0;
          transform: translateY(-50%); }
    .gallery .gallery__wrapper .gallery__button-wrapper {
      margin-top: 5%;
      text-align: center; }
      .gallery .gallery__wrapper .gallery__button-wrapper .gallery__button {
        border: 0;
        width: 202px;
        height: 57px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        background-color: #5585a2;
        color: #fff;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 27px; }
        .gallery .gallery__wrapper .gallery__button-wrapper .gallery__button:hover {
          background-color: #3c6a85;
          cursor: pointer; }

.subscribe {
  background-image: url("../../files/subscripeImage-min.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover contain;
  background-position: center; }
  .subscribe .subscribe__wrapper {
    max-width: 1200px;
    padding: 8% 0; }
    .subscribe .subscribe__wrapper .subscribe__text-wrapper {
      text-shadow: 0.5px 0.5px 5px #F9F8FB; }
      @media (max-width: 800px) {
        .subscribe .subscribe__wrapper .subscribe__text-wrapper {
          color: #262626;
          font-family: Raleway, Helvetica, Arial, sans-serif;
          font-size: 17px;
          font-weight: 300;
          line-height: 37px; } }
      .subscribe .subscribe__wrapper .subscribe__text-wrapper h1 {
        color: #262626;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 60px;
        font-weight: 900;
        line-height: 25px;
        margin-bottom: 2%; }
        @media (max-width: 800px) {
          .subscribe .subscribe__wrapper .subscribe__text-wrapper h1 {
            color: #262626;
            font-family: Raleway, Helvetica, Arial, sans-serif;
            font-size: 60px;
            font-weight: 900;
            line-height: 75px;
            margin-bottom: 3%; } }
      .subscribe .subscribe__wrapper .subscribe__text-wrapper p {
        color: #262626;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 17px;
        font-weight: 300;
        line-height: 27px;
        margin-bottom: 2%; }
    .subscribe .subscribe__wrapper .subscribe__form-wrapper .subscribe__form-input {
      color: #262626;
      font-family: Raleway, Helvetica, Arial, sans-serif;
      font-size: 17px;
      font-weight: 300;
      line-height: 27px;
      width: 560px;
      height: 55px;
      opacity: 0.5; }
      @media (max-width: 800px) {
        .subscribe .subscribe__wrapper .subscribe__form-wrapper .subscribe__form-input {
          width: 400px; } }
    .subscribe .subscribe__wrapper .subscribe__form-wrapper .subscribe__form-button {
      border: 0;
      width: 202px;
      height: 57px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      background-color: #96b92c;
      color: #fff;
      font-family: Raleway, Helvetica, Arial, sans-serif;
      font-size: 20px;
      font-weight: 300;
      line-height: 27px; }
      .subscribe .subscribe__wrapper .subscribe__form-wrapper .subscribe__form-button:hover {
        background-color: #839646;
        cursor: pointer; }
      @media (max-width: 800px) {
        .subscribe .subscribe__wrapper .subscribe__form-wrapper .subscribe__form-button {
          margin-top: 4%; } }

.blog {
  background-color: #b07cf7; }
  .blog .blog-wrapper {
    padding: 3% 0%;
    max-width: 1200px; }
    @media (max-width: 1200px) {
      .blog .blog-wrapper {
        padding: 8% 0; } }
    .blog .blog-wrapper .blog__text-wrapper {
      padding: 0 25%;
      text-align: center; }
      .blog .blog-wrapper .blog__text-wrapper .blog__text-name {
        color: #fff;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 90px;
        font-weight: 700;
        line-height: 27px;
        margin-bottom: 10%; }
        @media (max-width: 1200px) {
          .blog .blog-wrapper .blog__text-wrapper .blog__text-name {
            margin-bottom: 15%; } }
        @media (max-width: 480px) {
          .blog .blog-wrapper .blog__text-wrapper .blog__text-name {
            margin-bottom: 20%; } }
      .blog .blog-wrapper .blog__text-wrapper p {
        color: #fff;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 17px;
        font-weight: 300;
        line-height: 27px;
        margin-bottom: 10%; }
    .blog .blog-wrapper .blog__gallery-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      text-shadow: 1px 0.5px 2px #000000; }
      @media (max-width: 1200px) {
        .blog .blog-wrapper .blog__gallery-wrapper {
          margin-bottom: 5%;
          flex-direction: column;
          align-items: center; } }
      .blog .blog-wrapper .blog__gallery-wrapper .blog__gallery-img {
        margin: 0;
        position: relative;
        cursor: pointer; }
        @media (max-width: 1200px) {
          .blog .blog-wrapper .blog__gallery-wrapper .blog__gallery-img {
            margin-bottom: 2%; } }
        .blog .blog-wrapper .blog__gallery-wrapper .blog__gallery-img:hover:after {
          display: block;
          position: relative;
          background-image: linear-gradient(to bottom, transparent 0%, transparent 59%, rgba(0, 0, 0, 0.8) 100%);
          margin-top: -153px;
          height: 151px;
          width: 100%;
          content: ''; }
      .blog .blog-wrapper .blog__gallery-wrapper img {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }
      .blog .blog-wrapper .blog__gallery-wrapper .blog__date {
        text-align: center;
        width: 62px;
        height: 62px;
        border-radius: 5px;
        background-color: #262626;
        opacity: 0.5;
        position: absolute;
        bottom: 70%;
        left: 7%;
        color: #fff; }
        .blog .blog-wrapper .blog__gallery-wrapper .blog__date h2 {
          color: #fff;
          font-family: Raleway, Helvetica, Arial, sans-serif;
          font-size: 21px;
          font-weight: 900;
          line-height: 25px;
          text-transform: uppercase;
          margin-top: 10%; }
      .blog .blog-wrapper .blog__gallery-wrapper h3 {
        color: #fff;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        padding: 5%;
        position: absolute;
        bottom: 15%;
        left: 0; }
      .blog .blog-wrapper .blog__gallery-wrapper p {
        color: #fff;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 13px;
        font-weight: 300;
        line-height: 25px;
        padding: 5%;
        position: absolute;
        bottom: 2%;
        left: 0; }
    .blog .blog-wrapper .blog__button-wrapper {
      margin-top: 3%;
      text-align: center; }
      .blog .blog-wrapper .blog__button-wrapper .blog__button {
        border: 0;
        width: 202px;
        height: 57px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        background-color: #f72b3b;
        color: #fff;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 27px; }
        .blog .blog-wrapper .blog__button-wrapper .blog__button:hover {
          background-color: #a52532;
          cursor: pointer; }

.contact {
  background-image: url("../../files/contactBackground-min.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .contact .contact-wrapper {
    padding: 3% 0%;
    max-width: 1200px; }
    @media (max-width: 1200px) {
      .contact .contact-wrapper {
        padding: 8% 0; } }
    .contact .contact-wrapper .contact__text-wrapper {
      padding: 0 35%;
      text-align: center; }
      @media (max-width: 1200px) {
        .contact .contact-wrapper .contact__text-wrapper {
          padding: 0 15%; } }
      .contact .contact-wrapper .contact__text-wrapper h1 {
        color: #262626;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 90px;
        font-weight: 700;
        line-height: 27px;
        margin-bottom: 10%; }
      .contact .contact-wrapper .contact__text-wrapper p {
        color: #262626;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 17px;
        font-weight: 300;
        line-height: 27px;
        margin-bottom: 10%; }
    .contact .contact-wrapper .contact__form-wrapper {
      display: flex;
      justify-content: space-between; }
      @media (max-width: 1200px) {
        .contact .contact-wrapper .contact__form-wrapper {
          flex-direction: column;
          align-items: center; } }
      .contact .contact-wrapper .contact__form-wrapper .contact__form {
        margin: 0;
        width: 42%; }
        .contact .contact-wrapper .contact__form-wrapper .contact__form .contact__form-list {
          list-style-type: none; }
          .contact .contact-wrapper .contact__form-wrapper .contact__form .contact__form-list li {
            margin-bottom: 3%; }
          .contact .contact-wrapper .contact__form-wrapper .contact__form .contact__form-list input {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            background-color: #00c4c4;
            width: 100%;
            height: 52px;
            border: 0;
            opacity: 0.5;
            padding-left: 16px;
            color: #fff; }
            .contact .contact-wrapper .contact__form-wrapper .contact__form .contact__form-list input::-webkit-input-placeholder {
              color: #fff;
              padding: "";
              font-family: Raleway, Helvetica, Arial, sans-serif;
              font-size: 15px; }
            .contact .contact-wrapper .contact__form-wrapper .contact__form .contact__form-list input:-moz-placeholder {
              color: #fff;
              padding: "";
              font-family: Raleway, Helvetica, Arial, sans-serif;
              font-size: 15px; }
            .contact .contact-wrapper .contact__form-wrapper .contact__form .contact__form-list input::-moz-placeholder {
              color: #fff;
              padding: "";
              font-family: Raleway, Helvetica, Arial, sans-serif;
              font-size: 15px; }
            .contact .contact-wrapper .contact__form-wrapper .contact__form .contact__form-list input:-ms-input-placeholder {
              color: #fff;
              padding: "";
              font-family: Raleway, Helvetica, Arial, sans-serif;
              font-size: 15px; }
            .contact .contact-wrapper .contact__form-wrapper .contact__form .contact__form-list input:focus {
              opacity: 1;
              outline: none;
              border-left: 7px solid #355b82;
              font-weight: 700; }
          .contact .contact-wrapper .contact__form-wrapper .contact__form .contact__form-list textarea {
            background-color: #00c4c4;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 252px;
            opacity: 0.5;
            resize: none;
            padding: 16px 0 0 16px;
            color: #fff; }
            .contact .contact-wrapper .contact__form-wrapper .contact__form .contact__form-list textarea::-webkit-input-placeholder {
              color: #fff;
              padding: "";
              font-family: Raleway, Helvetica, Arial, sans-serif;
              font-size: 15px; }
            .contact .contact-wrapper .contact__form-wrapper .contact__form .contact__form-list textarea:-moz-placeholder {
              color: #fff;
              padding: "";
              font-family: Raleway, Helvetica, Arial, sans-serif;
              font-size: 15px; }
            .contact .contact-wrapper .contact__form-wrapper .contact__form .contact__form-list textarea::-moz-placeholder {
              color: #fff;
              padding: "";
              font-family: Raleway, Helvetica, Arial, sans-serif;
              font-size: 15px; }
            .contact .contact-wrapper .contact__form-wrapper .contact__form .contact__form-list textarea:-ms-input-placeholder {
              color: #fff;
              padding: "";
              font-family: Raleway, Helvetica, Arial, sans-serif;
              font-size: 15px; }
            .contact .contact-wrapper .contact__form-wrapper .contact__form .contact__form-list textarea:focus {
              opacity: 1;
              outline: none;
              border-left: 7px solid #355b82;
              font-weight: 700; }
            .contact .contact-wrapper .contact__form-wrapper .contact__form .contact__form-list textarea::selection {
              padding-left: 15px; }
        .contact .contact-wrapper .contact__form-wrapper .contact__form .contact__form-button {
          border: 0;
          width: 202px;
          height: 57px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
          background-color: #00c4c4;
          color: #fff;
          font-family: Raleway, Helvetica, Arial, sans-serif;
          font-size: 20px;
          font-weight: 300;
          line-height: 27px;
          opacity: 0.5; }
          .contact .contact-wrapper .contact__form-wrapper .contact__form .contact__form-button:hover {
            background-color: #0d9b9b;
            cursor: pointer; }
      .contact .contact-wrapper .contact__form-wrapper .contact__adress {
        color: #262626;
        font-family: Raleway, Helvetica, Arial, sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
        padding: 1%; }
        @media (max-width: 1200px) {
          .contact .contact-wrapper .contact__form-wrapper .contact__adress {
            padding: 3%; } }
        .contact .contact-wrapper .contact__form-wrapper .contact__adress h3 {
          color: #262626;
          font-family: Raleway, Helvetica, Arial, sans-serif;
          font-size: 17px;
          font-weight: 700;
          line-height: 25px; }
        .contact .contact-wrapper .contact__form-wrapper .contact__adress p {
          padding-bottom: 4%; }

.footer {
  background-color: #262626; }
  .footer .footer-wrapper {
    padding: 1% 0;
    max-width: 1200px;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 480px) {
      .footer .footer-wrapper {
        flex-direction: column; } }
    .footer .footer-wrapper h6 {
      display: none; }
    .footer .footer-wrapper p {
      margin: 0 2%; }
  .footer .footer__rights {
    color: #b9b9b9;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px; }
  .footer .footer__author {
    color: #b9b9b9;
    font-family: Raleway, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px; }
    .footer .footer__author span {
      color: #ff2b58;
      font-weight: 700; }
  .footer .footer__logo {
    color: #b9b9b9;
    font-family: Pacifico, Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: 300;
    line-height: 25px; }

/*# sourceMappingURL=index.css.map */