@import "variables.scss";

// main
@mixin wrappersSize {
    padding: 5% 0%;
    max-width: 1200px;
}

// RWD
$breakpoints: (
    'small':  (max-width: 480px),
    'medium': (max-width: 800px),
    'large':  (max-width: 1200px),
    
  ) !default;

/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin respond-to($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
      // Prints a media query based on the value
      @media #{inspect(map-get($breakpoints, $breakpoint))} {
        @content;
      }
    }
   
    // If the key doesn't exist in the map
    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
  }


// background
@mixin background($url, $color, $reapet, $size, $position) {
    background-image: $url;
    background-color: $color;
    background-repeat: $reapet;
    background-size: $size;
    background-position: $position;
}

// fonts
@mixin font($colorValue, $fontFamily, $fontSize:"", $fontWeight:"", $lineHeight:"") {
    color: $colorValue;
    font-family: $fontFamily;
    font-size: $fontSize;
    font-weight: $fontWeight;
    line-height: $lineHeight;
}

// button
@mixin mainButton($colorValue, $colorValueHover) {
    border: 0;
    width: 202px;
    height: 57px;
    box-shadow: $BoxShadow;
    background-color: $colorValue;
    @include font($altFontColor, $mainFont, 20px, 300, 27px);
    &:hover {
        background-color: $colorValueHover;
        cursor: pointer;
    }
}

// input
@mixin placeholder($color, $size:"", $padding:"") {
    &::-webkit-input-placeholder {
        color: $color;
        padding: $padding;
        font-family: $mainFont;
        @if $size !="" {
            font-size: $size;
        }
        @if $padding !="" {
            padding: $padding;
        }
    }
    &:-moz-placeholder {
        color: $color;
        padding: $padding;
        font-family: $mainFont;
        @if $size !="" {
            font-size: $size;
        }
        @if $padding !="" {
            padding: $padding;
        }
    }
    &::-moz-placeholder {
        color: $color;
        padding: $padding;
        font-family: $mainFont;
        @if $size !="" {
            font-size: $size;
        }
        @if $padding !="" {
            padding: $padding;
        }
    }
    &:-ms-input-placeholder {
        color: $color;
        padding: $padding;
        font-family: $mainFont;
        @if $size !="" {
            font-size: $size;
        }
        @if $padding !="" {
            padding: $padding;
        }
    }
}