.about {
    background-color: $aboutBackgroundColor;
    .about__wrapper {
        @include wrappersSize;
        display: flex;
        .about__text-wrapper {
            width: 70%;
            padding: 15% 0;
            max-width: 31em;
            .about__title {
                @include mainFontHuge($altFontColor);
                margin-bottom: 10%;
            }
            .about__text {
                @include mainFontSmall($altFontColor);
                span {
                    display: block;
                }
            }
        }
    }
}