.about {
  background-color: $aboutBackgroundColor;
  .about__wrapper {
    @include wrappersSize;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .about__text-wrapper {
      width: 70%;
      padding-top: 15%;
      padding-bottom: 15%;
      max-width: 31em;
      .about__title {
        @include mainFontHuge($altFontColor);
        margin-bottom: 10%;
      }
      .about__text {
        @include mainFontSmall($altFontColor);
        span {
          display: block;
        }
      }
    }
  }
}