.services {
  background-color: $servicesBackground;
  .services__wrapper {
    @include wrappersSize;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .services__btn-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      max-height: 28em;
      margin-top: 6%;
      .services__btn-text {
        width: 26.375em;
        height: 6.375em;
        background-color: #fff;
        box-shadow: $BoxShadow;
        display: flex;
        align-content: space-around;
        justify-content: center;
        align-items: center;
        h2 {
          text-align: center;
          width: 70%;
          color: $mainFontColor;
          font-family: $mainFont;
          font-size: 20px;
          font-weight: 700;
          line-height: 27px;
        }
        &:hover {
          background-color: #d8d0d0;
          cursor: pointer;
        }
      }
      .services__btn-image {
        text-align: center;
        float: right;
        border-left: solid 2px #9d9d9d;
        width: 30%;
        height: 100%;
        img {
          padding: 20% 0;
        }
      }
    }
    .services__slogan-wrapper {
      padding-left: 5%;
      .services__slogan-image {
        padding-left: 2%;
      }
      .services__slogan-text {
        bottom: 50%;
        left: -15%;
        .services__name-text {
          @include mainFontHuge($altFontColor);
        }
      }
    }
  }
}