.subscribe {
  background-image: url("../files/subscripeImage.png");
  background-color: $headerBackground;
  background-repeat: no-repeat;
  background-size: cover contain;
  background-position: center;
  .subscribe__wrapper {
    max-width: 1200px;
    padding: 8% 0;
    padding-left: 3%;
    .subscribe__text-wrapper {
      h1 {
        @include mainFontMedium($mainFontColor);
        margin-bottom: 2%;
      }
      p {
        @include mainFontSmall($mainFontColor);
        margin-bottom: 2%;
      }
    }
    .subscribe__form-wrapper {
      .subscribe__form-input {
        width: 560px;
        height: 55px;
        opacity: 0.5;
        @include mainFontMini($mainFontColor);
      }
      .subscribe__form-button {
        @include mainButton($subscribeButtonColor, $subscribeButtonOnHoverColor);
    }
  }
}
}