.b-subscribe {
  background-image: url("../files/subscripeImage.png");
  background-color: $headerBackground;
  background-repeat: no-repeat;
  background-size: cover contain;
  background-position: center;
  .b-subscribe__wrapper {
    max-width: 1200px;
    padding: 8% 0;
    padding-left: 3%;
    .b-subscribe__text-wrapper {
      h1 {
        @include mainFontMedium($mainFontColor);
        margin-bottom: 2%;
      }
      p {
        @include mainFontSmall($mainFontColor);
        margin-bottom: 2%;
      }
    }
    .b-subscribe__form-wrapper {
      .b-subscribe__form-input {
        width: 560px;
        height: 55px;
        opacity: 0.5;
        @include mainFontMini($mainFontColor);
      }
      .b-subscribe__form-button {
        margin-left: 25px;
        border: 0;
        width: 172px;
        height: 57px;
        box-shadow: $BoxShadow;
        background-color: #96b92c;
        @include mainFontButton($altFontColor);
        &:hover {
          background-color: #839646;
          cursor: pointer;
        }
      }
    }
  }
}