@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,700,900");
* {
  margin: 0 auto;
  padding: 0; }

.b-header {
  padding: 50px 0 0 0;
  background-image: url("../files/heroBackground.png");
  background-color: #F9F8FB;
  background-repeat: no-repeat;
  background-size: cover contain;
  background-position: center; }
  .b-header .b-header__wrapper {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex; }
  .b-header .b-header__logo {
    margin: 10px 0 0 0;
    width: 127px;
    height: 52px;
    color: #262626;
    font-family: Pacifico;
    font-size: 50px;
    font-weight: 400;
    line-height: 25px; }

.b-nav {
  float: right; }
  .b-nav .b-nav__main-nav--hidden {
    display: none; }
  .b-nav .b-nav__menu-elem {
    list-style-type: none;
    float: left;
    margin-left: 35px;
    margin-top: 10px; }
    .b-nav .b-nav__menu-elem .b-nav__menu-link {
      text-decoration: none;
      text-transform: uppercase;
      height: 12px;
      color: #262626;
      font-family: Raleway;
      font-size: 16px;
      font-weight: 700;
      line-height: 25px; }
      .b-nav .b-nav__menu-elem .b-nav__menu-link.b-nav__menu-link--active {
        border-top: 5px solid #ff6033; }
      .b-nav .b-nav__menu-elem .b-nav__menu-link:hover {
        border-top: 5px solid #ff6033; }

.b-hero {
  padding: 50px 0; }
  .b-hero .b-hero__wrapper {
    width: 96%;
    max-width: 1200px;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around; }
    .b-hero .b-hero__wrapper .b-hero__slogan-wrapper {
      width: 100%; }
      .b-hero .b-hero__wrapper .b-hero__slogan-wrapper .b-hero__slogan {
        padding-top: 20%;
        color: #262626;
        font-family: Raleway;
        font-size: 60px;
        font-weight: 900;
        line-height: 25px; }
      .b-hero .b-hero__wrapper .b-hero__slogan-wrapper .b-hero__text {
        color: #262626;
        font-family: Raleway;
        font-size: 17px;
        font-weight: 300;
        line-height: 27px;
        padding-top: 4%;
        text-align: justify; }
      .b-hero .b-hero__wrapper .b-hero__slogan-wrapper .b-hero__button {
        margin-top: 30px;
        border: 0;
        width: 202px;
        height: 57px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        background-color: #ff6033; }
        .b-hero .b-hero__wrapper .b-hero__slogan-wrapper .b-hero__button:hover {
          background-color: #ad5036;
          cursor: pointer; }
        .b-hero .b-hero__wrapper .b-hero__slogan-wrapper .b-hero__button .b-hero__button-text {
          width: 150px;
          height: 15px;
          color: #fff;
          font-family: Raleway;
          font-size: 20px;
          font-weight: 300;
          line-height: 27px;
          text-transform: uppercase; }
    .b-hero .b-hero__wrapper .b-hero__scroll-button {
      width: 60%;
      align-self: center;
      text-align: center;
      padding: 15% 0 .1% 0; }

.b-about {
  background-color: #00c4c4; }
  .b-about .b-about__wrapper {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .b-about .b-about__wrapper .b-about__text-wrapper {
      width: 70%;
      padding-bottom: 15%; }
      .b-about .b-about__wrapper .b-about__text-wrapper .b-about__title {
        color: #fff;
        font-family: Raleway;
        font-size: 90px;
        font-weight: 700;
        line-height: 27px;
        padding: 2%;
        margin-bottom: 5%; }
      .b-about .b-about__wrapper .b-about__text-wrapper .b-about__text {
        padding: 2%;
        width: 510px;
        height: 70px;
        color: #fff;
        font-family: Raleway;
        font-size: 17px;
        font-weight: 300;
        line-height: 27px; }
        .b-about .b-about__wrapper .b-about__text-wrapper .b-about__text span {
          display: block;
          margin-top: 2%; }
    .b-about .b-about__wrapper .b-about__image {
      margin-right: 8%; }

.b-services {
  background-color: #70bfff; }
  .b-services .b-services__wrapper {
    display: flex;
    justify-content: space-around;
    padding: 5% 0;
    padding-left: 3%;
    width: 96%;
    max-width: 1200px; }
    .b-services .b-services__wrapper .b-services__btn-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      max-height: 462px;
      margin-top: 6%; }
      .b-services .b-services__wrapper .b-services__btn-wrapper .b-services__btn-text {
        width: 422px;
        height: 102px;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        display: flex;
        align-content: space-around;
        justify-content: center;
        align-items: center; }
        .b-services .b-services__wrapper .b-services__btn-wrapper .b-services__btn-text h2 {
          text-align: center;
          width: 70%;
          color: #262626;
          font-family: Raleway;
          font-size: 20px;
          font-weight: 700;
          line-height: 27px; }
        .b-services .b-services__wrapper .b-services__btn-wrapper .b-services__btn-text:hover {
          background-color: #e0bfbf;
          cursor: pointer; }
      .b-services .b-services__wrapper .b-services__btn-wrapper .b-services__btn-image {
        text-align: center;
        float: right;
        border-left: solid 2px #9d9d9d;
        width: 30%;
        height: 100%; }
        .b-services .b-services__wrapper .b-services__btn-wrapper .b-services__btn-image img {
          padding: 20% 0; }
    .b-services .b-services__wrapper .b-services__slogan-wrapper {
      padding-left: 5%; }
      .b-services .b-services__wrapper .b-services__slogan-wrapper .b-services__slogan-image {
        margin-left: 30%;
        width: 462px;
        height: 527px; }
      .b-services .b-services__wrapper .b-services__slogan-wrapper .b-services__slogan-text {
        position: relative;
        bottom: 280px;
        left: 115px; }
        .b-services .b-services__wrapper .b-services__slogan-wrapper .b-services__slogan-text .b-services__name-text {
          width: 700px;
          height: 67px;
          color: #fff;
          font-family: Raleway;
          font-size: 90px;
          font-weight: 700;
          line-height: 27px; }

.b-gallery {
  background-color: #ffe92f; }
  .b-gallery .b-gallery__wrapper {
    padding: 5% 0;
    padding-left: 3%;
    width: 100%;
    max-width: 1200px; }
    .b-gallery .b-gallery__wrapper .b-gallery__text-wrapper {
      width: 577px;
      text-align: center; }
      .b-gallery .b-gallery__wrapper .b-gallery__text-wrapper h1 {
        color: #262626;
        font-family: Raleway;
        font-size: 90px;
        font-weight: 700;
        line-height: 27px;
        margin-bottom: 10%; }
      .b-gallery .b-gallery__wrapper .b-gallery__text-wrapper p {
        color: #262626;
        font-family: Raleway;
        font-size: 17px;
        font-weight: 300;
        line-height: 27px;
        margin-bottom: 10%; }
    .b-gallery .b-gallery__wrapper .b-gallery__images-wrapper .b-gallery__images-top {
      display: flex;
      justify-content: space-between; }
      .b-gallery .b-gallery__wrapper .b-gallery__images-wrapper .b-gallery__images-top .b-gallery__images-small {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
    .b-gallery .b-gallery__wrapper .b-gallery__images-wrapper .b-gallery__images-bottom {
      margin-top: 2%;
      display: flex;
      justify-content: space-around; }
    .b-gallery .b-gallery__wrapper .b-gallery__images-wrapper .b-gallery__image {
      position: relative;
      display: inline-block;
      overflow: hidden; }
      .b-gallery .b-gallery__wrapper .b-gallery__images-wrapper .b-gallery__image img {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }
      .b-gallery .b-gallery__wrapper .b-gallery__images-wrapper .b-gallery__image a {
        display: block;
        position: absolute;
        top: -100%;
        opacity: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        color: inherit; }
        .b-gallery .b-gallery__wrapper .b-gallery__images-wrapper .b-gallery__image a .fa-search-plus {
          color: #262626; }
      .b-gallery .b-gallery__wrapper .b-gallery__images-wrapper .b-gallery__image:hover img {
        opacity: 0.8;
        cursor: pointer; }
      .b-gallery .b-gallery__wrapper .b-gallery__images-wrapper .b-gallery__image:hover a {
        opacity: 1;
        /* added */
        top: 0;
        /* added */
        z-index: 500; }
        .b-gallery .b-gallery__wrapper .b-gallery__images-wrapper .b-gallery__image:hover a span {
          top: 50%;
          position: absolute;
          left: 0;
          right: 0;
          transform: translateY(-50%); }
    .b-gallery .b-gallery__wrapper .b-gallery__button-wrapper {
      margin-top: 3%;
      text-align: center; }
      .b-gallery .b-gallery__wrapper .b-gallery__button-wrapper .b-gallery__button {
        border: 0;
        width: 202px;
        height: 57px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        background-color: #5585a2; }
        .b-gallery .b-gallery__wrapper .b-gallery__button-wrapper .b-gallery__button:hover {
          background-color: #3c6a85;
          cursor: pointer; }
        .b-gallery .b-gallery__wrapper .b-gallery__button-wrapper .b-gallery__button .b-gallery__button-text {
          width: 114px;
          height: 15px;
          color: #fff;
          font-family: Raleway;
          font-size: 20px;
          font-weight: 300;
          line-height: 27px;
          text-transform: uppercase;
          text-transform: uppercase; }

.b-subscribe {
  background-image: url("../files/subscripeImage.png");
  background-color: #F9F8FB;
  background-repeat: no-repeat;
  background-size: cover contain;
  background-position: center; }
  .b-subscribe .b-subscribe__wrapper {
    width: 96%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 8% 0;
    padding-left: 3%; }
    .b-subscribe .b-subscribe__wrapper .b-subscribe__text-wrapper h1 {
      color: #262626;
      font-family: Raleway;
      font-size: 40px;
      font-weight: 700;
      line-height: 27px;
      margin-bottom: 2%; }
    .b-subscribe .b-subscribe__wrapper .b-subscribe__text-wrapper p {
      color: #262626;
      font-family: Raleway;
      font-size: 17px;
      font-weight: 300;
      line-height: 27px;
      margin-bottom: 2%; }
    .b-subscribe .b-subscribe__wrapper .b-subscribe__form-wrapper .b-subscribe__form-input {
      width: 560px;
      height: 55px;
      opacity: 0.5;
      color: #262626;
      font-family: Raleway;
      font-size: 15px;
      font-weight: 300;
      line-height: 27px; }
    .b-subscribe .b-subscribe__wrapper .b-subscribe__form-wrapper .b-subscribe__form-button {
      margin-left: 25px;
      border: 0;
      width: 172px;
      height: 57px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
      background-color: #96b92c;
      color: #fff;
      font-family: Raleway;
      font-size: 20px;
      font-weight: 300;
      line-height: 27px;
      text-transform: uppercase; }
      .b-subscribe .b-subscribe__wrapper .b-subscribe__form-wrapper .b-subscribe__form-button:hover {
        background-color: #839646;
        cursor: pointer; }

.b-blog {
  background-color: #b07cf7;
  height: 90vh; }

/*# sourceMappingURL=index.css.map */