.b-subscribe {
    background-image: url("../files/subscripeImage.png");
    background-color: $headerBackground;
    background-repeat: no-repeat;
    background-size: cover contain;
    background-position: center;
    height: 500px;
}