// fonts
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');

$logoFont: Pacifico;
$mainFont: Raleway;

// colors
$activeMenuColor: #ff6033;
$mainFontColor: #262626;
$altFontColor: #fff;
$headerBackground: #F9F8FB;
$servicesBackground: #70bfff;
$aboutBackgroundColor: #00c4c4;
$heroButtonBackgroundColor: #ff6033;
$heroButtonOnHoverBackgroundColor: #ad5036;