// fonts
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,900');

$logoFont: Pacifico;
$mainFont: Raleway;

// colors
$activeMenuColor: #ff6033;
$mainFontColor: #262626;
$altFontColor: #fff;